


@media only screen and (min-width: 600px) {
    .root {
        width: 70%;
        margin: auto;
        text-align: center;
        margin-top: 10%;
    }
    .form {
        width: 100%;
        margin-bottom: 10;
    }
    .signUp {
        padding: 10px;
    }

}

@media only screen and (max-width: 600px) {
    .root {
        width: 90%;
        margin: auto;
        text-align: center;
        margin-top: 10%;
    }
}

.textField {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.labelText {
    font-size: 18px;
}
.errorText {
    font-size: 18px;
    color: red;
}

.loginButton {
    margin-top: 50px;
}